extends components/layout

block content
  section#especiales.especiales-container    
    strong Hoy:
    article#especial(class="especial-container")
      h2 #{especial.name}
      each description in especial.description
        p
          strong= description
      data(value=especial.price) $#{especial.price}
      p *mas envío.
      a(href="https://wa.me/p/7724134931020070/5216141764062" target="_blank" class="order-link") Pedir Especial
      if especial.showAvailability
        span Solo <data id="special-amount">#{especial.availability}</data> disponibles
    h3.order-in-advacePTag **¡Haz tu pedido por adelantado y te lo llevamos a tu hora de comer!
  
  section#calcDelivery_section
    include components/menu/CalcDelivery.pug

  section#clasicos(class="clasicos-container")
    h2 Clasicos:
    p (disponibles todos los días)
    each clasico, i in Clasicos
      article(id=`clasico-container_${i}`)
        h3=clasico.name
        each description in clasico.description
          p
            strong=description
        data(value=clasico.price) $#{clasico.price}
        .options-container 
          strong Elige entre:
          form(id=`${clasico.name}_options`, class="clasico-options-form")
          each option in clasico.options
              fieldset(class=`${clasico.colectionName}-options-fieldset`)
                legend=option.name
                .choice-container
                  each choice in option.choices
                    label(for=`${clasico.name}-${option.name}`, class=`${option.type}-option-label`)
                      input(type=option.type name=`${clasico.name}-${option.name}`)
                    =choice
          